/**
 * FONT
 */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-display: swap;
  src: url('./assets/Lato-Regular.ttf') format('ttf');
}

/**
 * VARIABLES
 */
 :root {
   --color-day-bg: #0984e3;
   --color-night-bg: #032b43;
   --color-light: #fff;
   --color-mid: #efefef;
   --color-dark: #4a4a4a;
   --color-shadow-light: rgba(48, 48, 48, 0.15);
   --color-disabled: #666;
   --font-base-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,'Helvetica Neue', sans-serif;
   --transparent: rgba(0,0,0,0);
   --focus-ring: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='9' fill='none' stroke='rgba(0,0,0,1)' stroke-width='2'/%3E%3C/svg%3E");
 }

/**
 * RESETS
 * Via Andy Bell's Modern CSS Reset - https://hankchizljaw.com/wrote/a-modern-css-reset/
 */

 /* Box sizing rules */
 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/**
 * GLOBAL
 */

 body {
   font-family: var(--font-base-family, sans-serif);
   font-weight: 800;
   font-size: 1.16rem;
   display: flex;
   align-items: center;
   justify-content: center;
   background: var(--color-light);
   color: var(--color-dark);
 }

/**
* TOGGLES
*/
.toggles [aria-pressed] {
  display: block;
  border: none;
  color: inherit;
  background: none;
  font: inherit;
  padding: .5rem 0;
  position: relative;
  text-transform: uppercase;
  -webkit-tap-highlight-color: var(--transparent);
  cursor: pointer;
}

.toggles [aria-pressed][disabled],
.toggles [aria-pressed][disabled]:hover {
  color: var(--color-disabled);
}


.toggles [aria-pressed]::before,
.toggles [aria-pressed]::after {
  content: "";
  position: absolute;
  height: 1.9em;
  transition: all 0.35s ease;
}

/* ---- state styles ---- */

/* light mode pill */
.toggles [aria-pressed]::before {
  left: 0;
  top: 0.2em;
  width: 3.6em;
  border: 0.2em solid var(--color-day-bg);
  background-color: var(--color-day-bg);
  border-radius: 1.1em;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 32 32'%3E%3Ctitle%3Esun-fill%3C/title%3E%3Cpath fill='%23ffe4a1' d='M16.001 8c-4.418 0-8 3.582-8 8s3.582 8 8 8c4.418 0 7.999-3.582 7.999-8s-3.581-8-7.999-8v0zM14 2c0-1.105 0.895-2 2-2s2 0.895 2 2c0 1.105-0.895 2-2 2s-2-0.895-2-2zM4 6c0-1.105 0.895-2 2-2s2 0.895 2 2c0 1.105-0.895 2-2 2s-2-0.895-2-2zM2 14c1.105 0 2 0.895 2 2 0 1.107-0.895 2-2 2s-2-0.893-2-2c0-1.105 0.895-2 2-2zM4 26c0-1.105 0.895-2 2-2s2 0.895 2 2c0 1.105-0.895 2-2 2s-2-0.895-2-2zM14 30c0-1.109 0.895-2 2-2 1.108 0 2 0.891 2 2 0 1.102-0.892 2-2 2-1.105 0-2-0.898-2-2zM24 26c0-1.105 0.895-2 2-2s2 0.895 2 2c0 1.105-0.895 2-2 2s-2-0.895-2-2zM30 18c-1.104 0-2-0.896-2-2 0-1.107 0.896-2 2-2s2 0.893 2 2c0 1.104-0.896 2-2 2zM24 6c0-1.105 0.895-2 2-2s2 0.895 2 2c0 1.105-0.895 2-2 2s-2-0.895-2-2z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 15% center;
}

/* light mode thumb */
.toggles [aria-pressed]::after {
  left: 0;
  top: 0.2em;
  background-position: center center;
  border-radius: 50%;
  width: 1.9em;
  border: 0.17em solid var(--color-day-bg);
  background: var(--color-mid);
  box-shadow: 0px 0px 4px var(--color-shadow-light);
}

/* dark mode pill */
.toggles [aria-pressed=true]::before {
  left: 1.6em;
  border-color: var(--color-night-bg);
  background-color: var(--color-night-bg);
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 32 32'%3E%3Ctitle%3Emoon-fill%3C/title%3E%3Cpath fill='%23b9c6d3' d='M24.633 22.184c-8.188 0-14.82-6.637-14.82-14.82 0-2.695 0.773-5.188 2.031-7.363-6.824 1.968-11.844 8.187-11.844 15.644 0 9.031 7.32 16.355 16.352 16.355 7.457 0 13.68-5.023 15.648-11.844-2.18 1.254-4.672 2.028-7.367 2.028z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: left 10% center;
}

/* dark mode thumb */
.toggles [aria-pressed=true]::after {
  left: 1.5em;
  border-color: var(--color-night-bg);
}

/* focus and hover */
.toggles [aria-pressed]:focus::after {
  background-image: var(--focus-ring);
  background-position: center center;
  background-repeat: no-repeat;
}

.toggles [aria-pressed]:hover::after {
  background-image: var(--focus-ring);
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}

/* label on the left */
.toggles.flip [aria-pressed]::before,
.toggles.flip [aria-pressed]::after {
  left: auto;
  right: 0;
}

.toggles.flip [aria-pressed]::after {
  left: auto;
  right: 1.6em;
}

.toggles.flip [aria-pressed=true]::after {
  right: 0;
}

.toggles.flip [aria-pressed] {
  padding-left: 0;
  padding-right: 4em;
}

/* disabled */
.toggles [aria-pressed][disabled]::before {
  background-color: var(--color-mid);
  border-color: var(--color-disabled);
  background-image: none;
}

.toggles [aria-pressed][disabled]::after {
  border-color: var(--color-disabled);
}


.toggles [aria-pressed][disabled]:hover::after,
.toggles [aria-pressed][disabled]:hover {
  background-image: none;
  cursor: auto;
}

/* Windows High Contrast Mode Support */
@media screen and (-ms-high-contrast: active) {
  .toggles [aria-pressed]:focus::before,
  .toggles [aria-pressed]:hover::before {
    outline: 1px dotted windowText;
    outline-offset: 0.25em;
  }
  .toggles [aria-pressed]::after {
    background-color: windowText;
  }
  .toggles [aria-pressed][disabled]::after {
    background-color: transparent;
  }
}

/* Reduced motion */
@media screen and (prefers-reduced-motion: reduce) {
  .toggles [aria-pressed]::before,
  .toggles [aria-pressed]::after {
    transition: none;
  }
}
